/* Enter your custom styles here */
.profileContainer {
    text-align: center;
    margin: 2rem 0;
}

.profileCircle {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    border: 2px solid #ccc;
    object-fit: cover;
}

.profileName {
    margin-top: 1.2rem;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
}
